/* Template CSS by George Whitcher v0.1 */
/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
/* Flash message */
.flash_message {
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}
/* Core */
body {
    color: #000;
    font-family: 'Work Sans', sans-serif;
}
a, a:visited {
    color: #555;
    outline: 0;
    text-decoration: none;
    outline: none !important;
}
a:hover {
    color: #CCC;
    text-decoration: underline;
}
hr {
    border: 0;
    border-top: 2px solid #000;
}
/* Header */
.ig-header {
    background: #FFF;
}
@media (max-width: 1170px) {
    .ig-header h1 {
        font-size:24px;
    }
}
.ig-header {
    margin-top: 50px;
    border-bottom: 1px solid #EEE;
}
.ig-header h1, .ig-header h2 {
    padding: 0px;
    margin: 0px;
    font-family: 'Kaushan Script', cursive;
}
.ig-header h1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 34px;
    padding: 20px 15px 20px 15px;
    letter-spacing: 2px;
}
.ig-header h1 a:link,  .ig-header h1 a:visited {
    color: #000;
}
.ig-header h1 a:hover {
    text-decoration: none;
}
.ig-header h2 {
    text-transform: uppercase;
    font-size: 14px;
    padding: 30px 15px 15px 15px;
    letter-spacing: 2px;
    color: #000;
}
/* Navbar */
.ig-navbar {
    padding: 0px;
    margin: 0px -30px 0px 0px;
    z-index: 1;
    border-radius: 0;
    width: 100%;
    max-width: 1170px;
}
.ig-navbar .dropdown-menu {
    z-index: 2;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #222222;
    color:#9d9d9d;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu {
    color:#fff;
}
.ig-navbar .navbar-toggle {
    float: left;
    margin-left: 10px;
}
.dropdown, .dropdown-menu {
    z-index:999;
}
.navbar {
    position: static;
    z-index: 1;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* Container */
.ig-container {
    background: #FFF;
    min-height: 100%;
    height: 100%;
}
/* Footer */
.ig-footer {
    background: #FFF;
    color: #000;
    height: auto;
    border-top: 1px solid #EEE;
}
.ig-footer .ig-copyright {
    font-style: italic;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
/* Pages Global */
.container-pages {
    margin: 20px auto 40px auto;
}
.page-header {
    margin-top: 0px;
}

/* Downloads */
.ig-downloads-url {
    max-width: 100%;
    width: 100%;
    margin: 5px auto;
}
.ig-downloads-mirror {
    max-width: 100%;
    width: 100%;
}

.ig-downloads-mirror a {
    float: left;
    clear: both;
    margin: 5px auto;
}